.header
  .header__nav
    %h1 Filppy
    .header__nav__left
      %ul.header__nav__left__menu
        %li
          %a{:href => "#"} Home
        %li
          = link_to "投稿映画一覧",films_path
        %li
          = link_to "映画投稿",new_film_path

        %li
          %a{:href => "#"}
    .header__nav__right
      %ul
        %li
          %a{:href => "#"} name
        %li
          %a{:href => "#"} 編集
    .header__nav__right
      = link_to "ログアウト",destroy_user_session_path, method: "delete"




.mainvisual
  %img{:alt => "映画画像", :src => "https://cdn.pixabay.com/photo/2017/07/13/23/11/cinema-2502213_1280.jpg"}

%section.greeting
  .container
    .animate-title.inview
      %span.char F
      %span.char i
      %span.char l
      %span.char p
      %span.char p
      %span.char y
    -# %button{:onclick => "document.querySelector('.animate-title').classList.toggle('inview');"} Animation




%section.feel
  %h2 Feeling
  %ul
    %li
      %a{:href => "/films?feeling_id=1"}
        %figure
          %img{:src => "https://cdn.pixabay.com/photo/2017/05/25/12/50/young-couple-2343265__480.jpg"}/
        %h3.feel
          恋したい
    %li
      %a{:href => "/films?feeling_id=2"}
        %figure
          %img{:src => "https://cdn.pixabay.com/photo/2015/10/16/17/15/person-991506__480.jpg"}/
        %h3 笑いたい
    %li
      %a{:href => "/films?feeling_id=3"}
        %figure
          %img{:src => "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTiu_9zDT4dxAax20o0gEiMy8IF-mdO0LTlK40zrFshQM5I4g9Y"}/
        %h3 感動したい
  %ul
    %li
      %a{:href => "/films?feeling_id=4"}
        %figure
          %img{:src => "https://cdn.pixabay.com/photo/2017/08/04/18/51/horror-2581018__480.jpg"}/
        %h3.feel
          恐怖を感じたい
    %li
      %a{:href => "/films?feeling_id=5"}
        %figure
          %img{:src => "https://cdn.pixabay.com/photo/2016/08/02/16/40/rage-1564031__480.jpg"}/
        %h3 勇気をもらいたい
    %li
      %a{:href => "/films?feeling_id=6"}
        %figure
          %img{:src => "https://cdn.pixabay.com/photo/2016/01/19/17/45/hiker-1149877__480.jpg"}/
        %h3 冒険したい
.copylight
  %p ©️ XXCo., Ltd. All Rights Reserved.
