.header
  .header__nav
    %h1 Let's Film
    %nav-left
      %ul
        %li
          %a{:href => "#"} マイページ
        %li
          %a{:href => "#"} ログイン
        %li
          %a{:href => "#"} 投稿
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
    %nav-right
      %ul
        %li
          %a{:href => "#"} name
        %li
          %a{:href => "#"} 編集


.mainvisual
  %img{:alt => "映画画像", :src => "https://cdn.pixabay.com/photo/2017/07/13/23/11/cinema-2502213_1280.jpg"}/

%section.greeting
  .content-wrapper
    .contents
      .content
        %h2 Let's filmとは
        %p
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          %br/
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          %br/
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          %br/
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。


%section.work
  .content-wrapper
    　
    %h2 Feeling
    %ul
      %li
        %a{:href => "#"}
          %figure
            %img{:src => "https://placehold.jp/400x400.png"}/
          %h3 タイトル
          %p 本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
      %li
        %a{:href => "#"}
          %figure
            %img{:src => "https://cdn.pixabay.com/photo/2016/04/24/05/52/heart-1348868_1280.png"}/
          %h3 タイトル
          %p 本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
      %li
        %a{:href => "#"}
          %figure
            %img{:src => "https://placehold.jp/400x400.png"}/
          %h3 タイトル
          %p 本文が入ります。本文が入ります。本文が入ります。本文が入ります。
%section.news
  .content-wrapper
    %h2 review note
    %ul
      %li
        %a{:href => "#"}
          %time> 2019-00-00
          本文が入ります。本文が入ります。本文が入ります。
      %li
        %a{:href => "#"}
          %time> 2019-00-00
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。
      %li
        %a{:href => "#"}
          %time> 2019-00-00
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
      %li
        %a{:href => "#"}
          %time> 2919-00-00
          本文が入ります。本文が入ります。本文が入ります。
%section.recruit
  .recruit-img
    %img{:alt => "映画", :src => "https://cdn.pixabay.com/photo/2017/07/13/23/11/cinema-2502213_1280.jpg"}/
  %h2
    %a{:href => ""} 映画情報
  .bg2
%footer.footer
.content-wrapper
  .address
    %h2 XX株式会社
    %p
      〒000−0000
      %br/
      東京都××××××××××
      %br/
      TEL 01-2345-6789
      %br/
      FAX 01-2345-6789
  %ul
    %li
      %a{:href => "#"} トップページ
    %li
      %a{:href => "#"} 会社概要
    %li
      %a{:href => "#"} 事業内容
    %li
      %a{:href => "#"} 採用情報
    %li
      %a{:href => "#"} お問い合わせ
.copylight
  %p ©️ XXCo., Ltd. All Rights Reserved.
