.wrapper
  .japanese
    .japanese__films
      %h1.japanese__films__write
        邦画
      .japanese__films__poster
        %ul.japanese__films__poster__list
          %li.japanese__films__poster-list__image
            =link_to image_tag("https://i.pinimg.com/originals/98/a3/54/98a3546360ee6c3f492476a9cba345b7.jpg", class: "image"), films_path(@film)
      .japanese__films__title
        %h2.japanese__films__title__name
          ただ君を愛している

  .western
    .western__films
      %h1.western__films__write
        洋画
      .western__films__poster
        %ul.western__films__poster__list
          %li.jwestern__films__poster-list__image
            %a{:href => "#"}
              %img{:alt => "映画画像", :src => "https://i.pinimg.com/originals/5d/84/65/5d846579f41651ac1b8203cba7bddea5.jpg"}/
              %img{:alt => "映画画像", :src => "https://images-na.ssl-images-amazon.com/images/I/51Xd3VhtCZL._AC_.jpg"}/

      .western__films__title
        %h2.western__films__title__name
          きみに読む物語
