.films
  .films__poster
    %h.films__poster__title
      ただ君を愛している

.review
  %h2 review note
  %ul
    %li
      %a{:href => "#"}
        %time> 2020-00-00
        %name>ダン
        恋したくなった
    %li
      %a{:href => "#"}
        %time> 2020-00-00
        %name>ダン
        感動した
    %li
      %a{:href => "#"}
        %time> 2020-00-00
        %name>ダン
        最高に楽しめた
    %li
      %a{:href => "#"}
        %time> 2020-00-00
        %name>ダン
        良い感じ
