// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side_right {

}

.review-comment {
  display: flex;
  width: 660px;
  &__left {
    width: 679px;
    &__name {
      width: 400px;
    }
    &__contents {
      display: flex;
      width: 660px;
      margin-top: 18px;
      &__kind{
        margin-top: 5px;
      }
      &__text {
        width: 810px;
        overflow-wrap: break-word;
      }
    }
  }
  &__right {
    display: flex;
    &__edit {
      padding-right: 20px;
      &__review {
        color: black;
        cursor: pointer;
        text-decoration: none;
        background-color: #e3ffc4;
        border-radius: 5px;
        margin-top: 3px;
      }
    }
    &__destroy {
      padding-right: 20px;
      &__review {
        color: black;
        cursor: pointer;
        text-decoration: none;
        background-color: #e3ffc4;
        border-radius: 5px;
        margin-top: 3px;
      }
    }
  }
}



























.comment-wrapper {
    width: 100%;
    .comment-summary {
      margin: 30px 0 0;
      margin-bottom: 0;
      font-size: 20px;
    }

    .comment-content {
      overflow: scroll;
    }
    .comment-content__list {
      margin-top: 10px;
      border-top: 1px dashed #DADADA;
      border-bottom: 1px dashed #DADADA;

      &__text {
        margin-bottom: 5px;
        p {
          margin: 5px 0 0;
        }
      }
      span {
        color: #B3B3B3;
        font-size: 12px;
        padding-right: 5px;
      }
    }
    .comment-form {
      width: 100%;
      margin-top: 20px;
      &__text {
        width: 100%;
        height: 100px;
        border-style: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
      }
      &__btn {
        float: right;
        color: #fff;
        width: 40%;
        height: 34px;
        margin-top: 3px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        background-color: #FCA2A2;
        border-style: none;
      }
      &__btn:hover {
        opacity: .7;
      }
    }
    .clearfix::after {
      content: “”;
      display: block;
      clear: both;
    }
  }
