// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
  color: black;
}

.films-wrapper{
  height: 100vh;
  width: 100vw;
  .films-header {
    height: 5vh;
  }
  .japanese {
    width: 100%;
    height: 40vh;

    &__films {
      display: flex;
      height:380px;
      &__write {
        font-size: 50px;
        // line-height: 350px;
        // display: inline-block;
      }
      &__poster {
        display: flex;
        &
          &__image {
            display: flex;
          }
      }

      &__poster img{
        object-fit: cover;
        margin-left: 50px;
        width: 300px;
        &:hover {
          opacity: .7;
        }
      }

      &__title{
        text-align: center;
        font-size: 27px;
        padding-left: 60px;

      }
    }
  }
  .western {
    width: 100%;
    height: 40vh;
    margin-top: 25vh;
    &__films {
      display: flex;
      height:380px;
      &__write {
        font-size: 50px;
        // line-height: 350px;
        // display: inline-block;
      }
      &__poster {
        display: flex;
        &
          &__image {
            display: flex;
          }
      }

      &__poster img{
        object-fit: cover;
        margin-left: 50px;
        width: 300px;
        &:hover {
          opacity: .7;
        }
      }

      &__title{
        text-align: center;
        font-size: 27px;
        padding-left: 60px;

      }
    }
  }

  .search-form {
  text-align: center;
  margin: 10px 0;
  }
  .search-input {
    width: 30%;
    margin-right: 10px;
    height: 50px;
  }
  .search-btn {
    width: 10%;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668AD8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668AD8;
    border: dashed 1px #FFF;
  }
  .search-btn:hover {
    border: dotted 1px #FFF;
    cursor: pointer;
  }
}
// filmのshowアクション
.wrapper-show {
  height: 100%;
  width: 100%;
  display: flex;
}

.side_left {
  width: 50%;
}

.side_right {
  width: 50%;
}

// .films {
//   margin-left: 30px;
//   margin-top: 50px;
// }

.films__show-header {
  text-align: center;
}


.films__poster {
  margin-left: 30px;
  margin-top: 40px;
  &__title {
    height: 400px;
    height: 500px;
  }

}


.films__poster h {
  margin-left: 40px;
  width: 454px;
  font-size: 20px;
}



.review {
  width: 700px;
  margin-top: 100px;
}

.review h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.review li {
  border-bottom: dotted 1px #dedede;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review li a {
  color: #333333;
}

.review li a:hover {
  opacity: 0.6;
}

.review li name {
  font-size: 0.75em;
  color: #949494;
  padding-right: 0px;
  margin-right: 20px;
}

.review li time {
  font-size: 0.75em;
  color: #949494;
  padding-right: 0px;
  margin-right: 20px;
}

// 映画登録フォーム
.register {
  height: 100vh;
  width: 100vw;
  background-image: url(https://theriver.jp/wp-content/uploads/2017/07/jack-poc-1024x538.png);
  background-size: cover;
  object-fit: ceil($number: 0);
  background-position: center;

  &__form__name {
    display: block;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    padding-top: 70px;
  }
}

.form__register {
  text-align: center;
}

.form__register__row {
  margin: 0 auto;
  margin-top: 60px;
  &__radio {
    display: block;
    margin: 0 auto;
    color: white;
  }
  &__title {
    display: block;
    width: 40vh;
    height: 5vh;
    margin: 15px auto 0;
  }

  &__image {
    display: block;
    width: 50vw;
    height: 30px;
    margin: 15px auto 0;
    margin-top: 40px;
  }

  &__text {
    display: block;
    width: 50vw;
    height: 30px;
    margin: 15px auto 0;
    margin-top: 40px;
  }
  &__btn {
    display: block;
    width: 30vw;
    margin: 30px auto 0;
    margin-top: 40px;
    height:30px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    background-color: #b5f6c0;

  }
  &__btn:hover {
    opacity: 0.6;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px

  }
}

.test{
  display: inline-flex;
  margin-left: 40px;
}

#register__western__film {
  margin-top: 3px;
}

#register__japanese__film {
  margin-top: 3px;
}
