// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// レビュー投稿画面
.content {
  height: 100vh;
  width: 100vw;
  background-image:url(https://cdn.pixabay.com/photo/2017/07/13/23/11/cinema-2502213_1280.jpg);
  background-size: cover;

  &__title {
    height: 5vh;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    color: #cafb9e;
  }
}

.form {
  margin: 0 auto;
  padding-top: 30px;
  &__feeling {
    display: block;
    width: 20vh;
    height: 10vh;
    margin: 15px auto 0;
  }
  &__review{
    text-align: center;
    font-size: 25px;
    margin: 35px;
    font-weight: bold;
    margin: 50px 10px 0px 10px;

  }
  &__title {
    display: block;
    color: black;
    width: 100vh;
    height: 5vh;
    margin: 30px auto 0;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }
  &__text {
    display: block;
    width: 50vw;
    height: 50vh;
    margin: 57px auto 0;
    font-size: 25px;
    font-weight: bold;
  }
  &__post_btn {
    display: block;
    width: 35vw;
    height: 35px;
    margin: 30px auto 0;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    background-color: #e3ffc4;
    font-size: 20px;
    cursor: pointer;
  }

  &__back_btn {
    display: block;
    width: 35vw;
    height: 35px;
    margin: 30px auto 0;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    background-color: #e3ffc4;
    font-size: 20px;
    color: black;
    text-align: center;
  }






  &__btn:hover {
    opacity: 0.6;
    cursor: pointer;
     box-shadow: 5px 5px 10px 0px
  }
}

#review_feeling_id {
  height: 50px;
}
